html,
body,
#root {
  margin: 0;
  height: 100vh;
  font-family: helvetica;
}

.header {
  background-color: rgb(40, 139, 156);
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav {
  background-color: rgb(33, 33, 33);
}

.nav a {
  color: white;
  text-decoration: none;
}

.header,
.nav {
  line-height: 50px;
  padding: 0 20px;
}

.nav a {
  padding: 0 10px;
}

.graphiql-container {
  width: 350px;
}

.graphiql-container .editorWrap {
  display: none;
}

.docExplorerWrap {
  display: block !important;
}

.monaco-editor,
.monaco-editor .monaco-editor,
.monaco-scrollable-element,
.react-monaco-editor-container {
  height: calc(100vh - 100px) !important;
}
