html,
body,
#root {
  margin: 0;
  height: 100vh;
  font-family: helvetica;
}

.header {
  background-color: rgb(40, 139, 156);
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav {
  background-color: rgb(33, 33, 33);
}

.nav a {
  color: white;
  text-decoration: none;
}

.header,
.nav {
  line-height: 50px;
  padding: 0 20px;
}

.nav a {
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
}

.nav a.active,
.nav a:hover {
  background-color: rgb(65, 74, 74);
}

.graphiql-container {
  width: 350px !important;
}

.graphiql-container .editorWrap {
  display: none !important;
}

.docExplorerWrap {
  display: block !important;
}

.monaco-editor,
.monaco-editor .monaco-editor,
.monaco-scrollable-element,
.react-monaco-editor-container {
  height: calc(100vh - 100px) !important;
}

.splash-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.splash-input::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: transparent;
  background-color: rgb(40, 139, 156);
  text-decoration: none;
  border-radius: 2px;
}

.bucket-item {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.bucket-count {
  margin-left: auto;
  background-color: rgb(91, 81, 81);
  font-size: 10px;
  color: white;
  padding: 0.2em 0.6em 0.3em;
  border-radius: 0.25em;
  font-weight: bold;
}
